/* font import from google fonts Family: [Kumbh Sans] */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


/* Reset css  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

/* adding background */
body {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main container  */
.container {
    width: 900px;
    min-height: 500px;
    border-radius: 25px;
    background-color: #fff;
    display: flex;
    color: hsl(238, 29%, 16%);
}


/* width and hight set  */
.accordion-img,
.accordion-faq {
    width: 50%;
    height: 100%;
}


/* woman and pattern images set  */
.accordion-img {
    position: relative;
    height: inherit;
    float: left;
    background: url('/images/illustration-woman-online-desktop.svg') bottom 68px left -80px no-repeat, url('/images/bg-pattern-desktop.svg') bottom -159px left -570px no-repeat;

}

/* box and images set  */

.accordion-img::before {
    content: "";
    position: absolute;
    bottom: 134px;
    background: url('/images/illustration-box-desktop.svg') no-repeat;
    width: 190px;
    height: 156px;
    left: -92px;
}



.accordion-faq {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 80px 20px 20px 20px;
}

.accordion-faq h1 {
    margin-bottom: 15px;
    margin-top: -10px;
    font-size: 32px;
}

.question {
    border-bottom: 1px solid rgb(177, 177, 177);
    padding-bottom: 10px;
}

input {
    display: none;
}

.faq-items {
    width: 80%;
    transition: all ease-in .2s;
}

label {
    display: block;
    padding-top: 15px;
    margin: 0 0 10px 0;
    cursor: pointer;
    width: 100%;
}

label:first-child {

    padding: 10px;

}

label:hover {
    color: hsl(14, 88%, 65%);
}

label img {
    display: flex;
    float: right;
    padding-right: 10px;
}



.content {
    display: none;

}

input+label+.content {
    display: none;
}

input:checked+label+.content {
    display: block;
}

input:checked:checked~label img {
    transform-origin: center;
    transform: rotate(180deg);
}

input:checked:checked~label {
    font-weight: bold;
}



.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}



/* media query for responsive */

@media only screen and (max-width: 1000px) {
    .container {
        width: 375px;
        min-height: 550px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        position: relative;
    }

    .accordion-faq {
        width: 100%;
        min-height: 450px;
    }

    .accordion-img {
        position: relative;
        width: 100%;
        height: 250px;
        background: url('/images/bg-pattern-mobile.svg') top 5px right 30px no-repeat;
        background-size: 80% 45%;
        position: relative;
        margin-bottom: -250px;
    }

    .accordion-img::before {
        content: "";
        position: absolute;
        background: url('/images/illustration-woman-online-mobile.svg') top 5px right 2px no-repeat;
        background-size: 80%;
        width: 100%;
        height: 100%;
        left: -24px;
        top: -146px;
    }

    .accordion-faq {
        margin-top: 90px;
        z-index: 999;
    }


    .faq-items {
        text-align: left;

        width: 100%;
    }


}

@media only screen and (max-width: 375px) {
    .container {
        width: 320px;
        min-height: 550px;
    }

    label {
        font-size: 14px;
    }

    .content {
        font-size: 14px;
    }

    .accordion-img::before {
        content: "";
        position: absolute;
        background: url('/images/illustration-woman-online-mobile.svg') top 40px right 2px no-repeat;
        background-size: 80%;
        width: 100%;
        height: 100%;
        left: -24px;
        top: -146px;
    }

    .accordion-img {
        margin-bottom: -270px;
    }


}